venv/
**/venv/
output/
**/output/
upload/
**/upload/
uploads/
**/uploads/
.env

__pycache__/
**/__pycache__/
*.py[cod]
*/run.sh
debug_jobs/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
